{
  "openapi" : "3.1.1",
  "info" : {
    "title" : "OpenWeatherMap API",
    "description" : "Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.",
    "termsOfService" : "https://openweathermap.org/terms",
    "contact" : {
      "name" : "OpenWeatherMap API",
      "url" : "https://openweathermap.org/api",
      "email" : "some_email@gmail.com"
    },
    "license" : {
      "name" : "CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)",
      "url" : "https://openweathermap.org/price"
    },
    "version" : "2.5"
  },
  "externalDocs" : {
    "description" : "API Documentation",
    "url" : "https://openweathermap.org/api"
  },
  "servers" : [ {
    "url" : "https://api.openweathermap.org/data/2.5"
  } ],
  "security" : [ {
    "app_id" : [ ]
  } ],
  "tags" : [ {
    "name" : "Current Weather Data",
    "description" : "Get current weather details"
  } ],
  "paths" : {
    "/weather" : {
      "get" : {
        "tags" : [ "Current Weather Data" ],
        "summary" : "Call current weather data for one location",
        "description" : "Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.",
        "operationId" : "CurrentWeatherData",
        "parameters" : [ {
          "$ref" : "#/components/parameters/q"
        }, {
          "$ref" : "#/components/parameters/id"
        }, {
          "$ref" : "#/components/parameters/lat"
        }, {
          "$ref" : "#/components/parameters/lon"
        }, {
          "$ref" : "#/components/parameters/zip"
        }, {
          "$ref" : "#/components/parameters/units"
        }, {
          "$ref" : "#/components/parameters/lang"
        }, {
          "$ref" : "#/components/parameters/mode"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found response",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "title" : "Weather not found"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "200" : {
        "title" : "Successful response",
        "properties" : {
          "coord" : {
            "$ref" : "#/components/schemas/Coord"
          },
          "weather" : {
            "description" : "(more info Weather condition codes)",
            "items" : {
              "$ref" : "#/components/schemas/Weather"
            }
          },
          "base" : {
            "description" : "Internal parameter"
          },
          "main" : {
            "$ref" : "#/components/schemas/Main"
          },
          "visibility" : {
            "description" : "Visibility, meter"
          },
          "wind" : {
            "$ref" : "#/components/schemas/Wind"
          },
          "clouds" : {
            "$ref" : "#/components/schemas/Clouds"
          },
          "rain" : {
            "$ref" : "#/components/schemas/Rain"
          },
          "snow" : {
            "$ref" : "#/components/schemas/Snow"
          },
          "dt" : {
            "description" : "Time of data calculation, unix, UTC",
            "format" : "int32"
          },
          "sys" : {
            "$ref" : "#/components/schemas/Sys"
          },
          "id" : {
            "description" : "City ID",
            "format" : "int32"
          },
          "name" : { },
          "cod" : {
            "description" : "Internal parameter",
            "format" : "int32"
          }
        }
      },
      "Coord" : {
        "title" : "Coord",
        "properties" : {
          "lon" : {
            "description" : "City geo location, longitude"
          },
          "lat" : {
            "description" : "City geo location, latitude"
          }
        }
      },
      "Weather" : {
        "title" : "Weather",
        "properties" : {
          "id" : {
            "description" : "Weather condition id",
            "format" : "int32"
          },
          "main" : {
            "description" : "Group of weather parameters (Rain, Snow, Extreme etc.)"
          },
          "description" : {
            "description" : "Weather condition within the group"
          },
          "icon" : {
            "description" : "Weather icon id"
          }
        }
      },
      "Main" : {
        "title" : "Main",
        "properties" : {
          "temp" : {
            "description" : "Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit."
          },
          "pressure" : {
            "description" : "Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa",
            "format" : "int32"
          },
          "humidity" : {
            "description" : "Humidity, %",
            "format" : "int32"
          },
          "temp_min" : {
            "description" : "Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit."
          },
          "temp_max" : {
            "description" : "Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit."
          },
          "sea_level" : {
            "description" : "Atmospheric pressure on the sea level, hPa"
          },
          "grnd_level" : {
            "description" : "Atmospheric pressure on the ground level, hPa"
          }
        }
      },
      "Wind" : {
        "title" : "Wind",
        "properties" : {
          "speed" : {
            "description" : "Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour."
          },
          "deg" : {
            "description" : "Wind direction, degrees (meteorological)",
            "format" : "int32"
          }
        }
      },
      "Clouds" : {
        "title" : "Clouds",
        "properties" : {
          "all" : {
            "description" : "Cloudiness, %",
            "format" : "int32"
          }
        }
      },
      "Rain" : {
        "title" : "Rain",
        "properties" : {
          "3h" : {
            "description" : "Rain volume for the last 3 hours",
            "format" : "int32"
          }
        }
      },
      "Snow" : {
        "title" : "Snow",
        "properties" : {
          "3h" : {
            "description" : "Snow volume for the last 3 hours"
          }
        }
      },
      "Sys" : {
        "title" : "Sys",
        "properties" : {
          "type" : {
            "description" : "Internal parameter",
            "format" : "int32"
          },
          "id" : {
            "description" : "Internal parameter",
            "format" : "int32"
          },
          "message" : {
            "description" : "Internal parameter"
          },
          "country" : {
            "description" : "Country code (GB, JP etc.)"
          },
          "sunrise" : {
            "description" : "Sunrise time, unix, UTC",
            "format" : "int32"
          },
          "sunset" : {
            "description" : "Sunset time, unix, UTC",
            "format" : "int32"
          }
        }
      }
    },
    "parameters" : {
      "q" : {
        "name" : "q",
        "in" : "query",
        "description" : "**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : { }
      },
      "id" : {
        "name" : "id",
        "in" : "query",
        "description" : "**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter &mdash; just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have 3 city IDs, it’s treated as 3 API calls.*",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : { }
      },
      "lat" : {
        "name" : "lat",
        "in" : "query",
        "description" : "**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : { }
      },
      "lon" : {
        "name" : "lon",
        "in" : "query",
        "description" : "**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat`.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : { }
      },
      "zip" : {
        "name" : "zip",
        "in" : "query",
        "description" : "**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : { }
      },
      "units" : {
        "name" : "units",
        "in" : "query",
        "description" : "**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "default" : "imperial",
          "enum" : [ "standard", "metric", "imperial" ]
        }
      },
      "lang" : {
        "name" : "lang",
        "in" : "query",
        "description" : "**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "default" : "en",
          "enum" : [ "ar", "bg", "ca", "cz", "de", "el", "en", "fa", "fi", "fr", "gl", "hr", "hu", "it", "ja", "kr", "la", "lt", "mk", "nl", "pl", "pt", "ro", "ru", "se", "sk", "sl", "es", "tr", "ua", "vi", "zh_cn", "zh_tw" ]
        }
      },
      "mode" : {
        "name" : "mode",
        "in" : "query",
        "description" : "**Mode**. *Example: html*. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "default" : "json",
          "enum" : [ "json", "xml", "html" ]
        }
      }
    },
    "securitySchemes" : {
      "app_id" : {
        "type" : "apiKey",
        "description" : "API key to authorize requests. (If you don't have an API key, get one at https://openweathermap.org/. See https://idratherbewriting.com/learnapidoc/docapis_get_auth_keys.html for details.)",
        "name" : "appid",
        "in" : "query"
      }
    }
  }
}